/* PDV */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #044c7e;
}

.box-content {
  max-width: 1280px;
  margin: 50px auto;
  height: 250px;
}

.logo {
  display: inline-block;
  width: 25%;
  height: 250px;
  border: 1px solid #fff;
  float: left;
  background-color: #f2f2f2;
}

.logo img {
  display: block;
  width: 75%;
  margin: 5px auto;
}

.txt {
  display: inline-block;
  width: 75%;
  height: 250px;
  float: right;
  text-align: center;
  background-color: #f2f2f2;
}

.txt p, strong {
  line-height: 250px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  width: 35%;
  display: inline-block;
  color: rgb(240, 40, 40);
}

.main-content {
  max-width: 1280px;
  margin: auto;
  position: relative;
  top: -48px;
}

.title-prod {
  width: 98%;
  margin: auto;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  background-color: #044c7e;
  margin-top: 2px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.title-aside {
  color: #fff;
  width: 98%;
  margin: auto;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  background-color: #044c7e;
  margin-top: 3px;
  padding: 10px 0;
  text-align: center;
}
